{% extends 'blog/base.html' %}
{% block content %}
<div class="row pad">
    <div class="col s12 m12">
        <div class="card blue-grey lighten-1">
            <div class="card-content white-text">
                <span class="card-title">{{object.title}}</span>
                <p>{{object.content}}</p>
            </div>
            <div class="card-action white-text">
                <p>{{object.author}}</p>
                <p>{{object.pub_date}}</p>
            </div>
            {% if object.author == user %}
                <a href="{% url 'update' object.id %}" class="btn-small green">Update</a>
                <a href="{% url 'delete' object.id %}" class="btn-small red darken-2">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}